.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--background-color-light);
    color: var(--text-color);
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
}
