.products {
    padding: 5px;
}

.products .product-card {
    border: 1px solid var(--border-color);
    padding: 5px;   
}

.products__list {
    display: grid;
    gap: 5px;
}

.products__dark {
    background-color: var(--background-color-dark);
}

@media (min-width: 600px) {
    
    .products__list {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 801px) {
    
    .products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: 980px) {
    
    .products__list {
        grid-template-columns: repeat(4, 1fr);
    }

}

